<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712083060321-s8fd77g3cl28mq4pij28dqa186pa0b58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712083060321-s8fd77g3cl28mq4pij28dqa186pa0b58</string>
	<key>API_KEY</key>
	<string>AIzaSyATGDZPaWrimpWbSqdPNLApUBMxCPWCZow</string>
	<key>GCM_SENDER_ID</key>
	<string>712083060321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instaclone.flutterCloneInstagram</string>
	<key>PROJECT_ID</key>
	<string>flutterinstagram-8c635</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterinstagram-8c635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712083060321:ios:dd86b86a670520ac555c20</string>
</dict>
</plist>